<!DOCTYPE html>
<html lang="en-us" ng-app="jewelShop">
<!-- ng-app is directive which will create an angular application by runing this module (in app.js..one liner that starts with var app) when the document loads).. treats html inside the element as part of the angular app and now we can write expressions to write dynamic operators-->
  <head>
    <title>Introduction to AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
	<body class="container" ng-controller="ShopController as shop">
    <!-- <div ng-hide="shop.product.soldOut"> -->
    <!-- Products Container  -->
    <div class="list-group">
      <!--  Product Container-->
      <div class= "list-group-item" ng-repeat="product in shop.products">
        <!-- <div ng-hide="product.soldOut"> --><!--if product is sold out, we wanna hide it -->
        <h3>
          {{product.name}}
          <em class="pull-right">
            {{product.price | currency}}
          </em>
        </h3>
        <p>
          {{product.description}}
          <button class= "pull-right" ng-show="product.canPurchase"> Add to Cart </button>
        </p>
        <!-- Need for the selected tab to be active and display it's contents on the page -->
        <section class="panel" ng-controller="PanelController as panel">

          <!-- TAB NAVIGATION -->
          <ul class="nav nav-tabs">
            <li ng-class="{ active: panel.isSelected(1)}"> <!-- <li ng-class=“{active: panel === 1}”> -->
            <!-- NOTE 3rd: show user which tab is active and add class to appropriate tab to make sure the right tab is highlighted. Add the active class to the correct <li> when each tab is clicked. -->
            <!-- call isSelected method inside ng-class directive and in the tabs to see which one is selected. need expression to evaluate “if tab is equal to 1 (true), set class to active and (append this class to the element)..otherwise do nothing for unselected tabs.-->
              <a href ng-click = "panel.selectTab(1)">Description</a></li> <!-- <a href ng-click=“panel = 1”>Description</a> -->
              <!--NOTE 1st: Trigger the selectTab method when a link inside a tab is clicked. Add this to each of the tab links. Pass in the number of the tab, in this case 1, 2 or 3. When select this tab, assigns value to the tab -->
            <li ng-class="{ active: panel.isSelected(2)}">
              <a href ng-click = "panel.selectTab(2)">Specs</a></li>
            <li ng-class="{ active: panel.isSelected(3)}">
              <a href ng-click = "panel.selectTab(3)">Reviews</a></li>
          </ul>

          <!-- CONTENT FOR EACH TAB -->
          <product-description ng-show="panel.isSelected(1)">
          </product-description>
          <!-- NOTE 2nd: use isSelected method to show the proper content when we click on a correspsonding tab nav. If the panel.isSelected, then show that one -->

          <div ng-show="panel.isSelected(2)">
            <h4>Specs</h4>
            <blockquote>Shine: </blockquote>
          </div>
          <div ng-show="panel.isSelected(3)">
            <ul>
              <h4>Reviews</h4>
              <li ng-repeat="review in product.reviews">
                <blockquote>
                  <strong> {{review.stars}} Stars</strong>
                  {{review.body}}
                  <cite class="clearfix">{{review.author}}</cite>
                </blockquote>
              </li>
            </ul>

          <!--  Review Form -->
            <form name ="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)"><!-- send in current product that we’re iterating through from Shop Controller.. and validity check to make sure that if valid is false, then addReview wont get called-->
              <!--  Live Preview -->
              <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
              </blockquote>

          <!--  Review Form -->
            <h4>Submit a Review</h4>
            <fieldset class="form-group">
              <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" ng-model="reviewCtrl.review.stars">
                <option value="">Rate the Product</option>
              </select>
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body"></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input ng-model="reviewCtrl.review.author" type="email" class="form-control"/>
            </fieldset>
            <fieldset class="form-group">
              <div> reviewForm is {{reviewForm.$valid}} </div>
              <!-- Only want addReview method to be called if reviewForm.$valid is true..bool to test validity...when call $.valid, “$” means property on the form built in prop from Angular..   -->
              <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
          </form>
        </div>
          <!-- {{panel}} to dynamically show which panel/tab we're on. if select 1st tab, output is {"tab":1} -->
        </section>
      </div>
    </div>
  </body>
</html>
